@model _24DH111646_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2 class="bg-success">THÔNG TIN CHI TIẾT CỦA SẢN PHẨM</h2>

@Html.Partial("PVProdInfo", Model)
<div styte="padding:10px">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ProductName }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
</div>